<!DOCTYPE html>
<html>
<head>
	<title>For Sale Listing</title>
</head>
<body>
<h3 id="forSaleTitle">For Sale</h3>
<div ng-repeat="item in items">
	
	<div class="itemsContainer">
		<div class="itemContainer">
			<label>Item: </label>
			<hr/>
			<h4>{{item.name}}</h4>
		<div>

		<div class="itemContainer">
			<label>Price: </label>
			<hr/>
			<h4>{{item.price}}</h4>
		</div>
		<div class="itemContainer">
			<label>Contact: </label>
			<hr/>
			<h4>{{item.contact}}</h4>
		</div>
		<div class="itemContainer">
			<label>Description: </label>
			<hr/>
			<h4>{{item.description}}</h4>	
		</div>	
		<div>
			<a href="#/single/{{item.id}}">More Details</a>
		</div>
	</div>


</div>	
		
</body>
</html>