<!DOCTYPE html>
<html>
<head>
	<title>For Sale Listing</title>
</head>
<body>
<h3 id="forSaleTitle">For Sale</h3>
<div ng-repeat="item in items">
	
	<div class="itemsContainer">
		<div class="itemContainer">
			<label>item: </label> <h4>{{item.name}}</h4>
		<div>
		<div class="itemContainer">
			<label>price: </label><h4>{{item.price}}</h4>
		</div>
		<div class="itemContainer">
			<label>contact: </label><h4>{{item.contact}}</h4>
		</div>
		<div class="itemContainer">
			<label>description: </label><h4>{{item.description}}</h4>	
		</div>	
		<div>
			<a href="#/single/{{item.name}}">More Details</a>
		</div>
	</div>


</div>	
		
</body>
</html>